.historia-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .historia-header{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-bottom: 25px;
        width: 99vw;
        border-bottom: 3px solid white;

        .historia-card{
            height: 455px;
            width: 100vw;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .historia-card-img{
                margin-bottom: -30px;
                #historiaimg{
                    margin-left:-55px;
                    height: 480px;
                    width: 420px;
                    border-right: 4px solid black;
                }
            }
            .historia-card-txt{
                margin-bottom: -30px;
                margin-right: 170px;
                padding: 5px;
                width:40vw;
                height: fit-content;
                font-size: 16px;
                text-align: justify;
                border: 4px solid black;
                background-color: white;
                color: black;
            }

            @media (max-width:768px){
                width: 100vw;
                max-height: 225px;
                flex-direction: row;

                .historia-card-img{
                    #historiaimg{
                        margin-left: 7px;
                        height: 250px;
                        width: 220px;
                        border-right: 4px solid black;
                    }
                }
                .historia-card-txt{
                    @media (max-width:768px){
                        margin-left: 20px;
                        min-width:40vw;
                        height: max-content;
                        font-size: 8px;
                        text-align: justify;
                        border: 4px solid black;
                        background-color: white;
                        color: black;
                    }
                }
            }
        }
    }

    .historia-fotos{
        .fotos-grid{
            .img-aluno{
                @media (max-width:768px) {
                    width: 500px;
                    height: 250px;
                }
                margin-top: 55px;
                border: 1px solid white;
                border-radius: 5px;
                width: 700px;
                height: 350px;
            }
        }
    }
}