.search{
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width:768px) {
        height:300px;
        width: 468px;
    }

    .search-form{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding:20px;
        border-radius: 15px;
        background-color: #014592;

        h3{
            margin-top: 5px;
            margin-bottom: 25px;
        }

        .form{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 40vw;
                gap: 10px;
                margin-top:-10px ;

                #nome{
                    width: 80%;
                    height: 35px;
                    border:none;
                    border-radius: 15px;
                    padding-left: 15px;
                    background-color: white;
                }
                #qrCode{
                    margin-top:7px;
                    width: 80%;
                    height: 35px;
                    border: none;
                    border-radius: 15px;
                    padding-left: 15px;
                    background-color: white;
                }
                #btn-entrar{
                    margin-top: 20px;
                    margin-bottom: -30px;
                    background: none;
                    width: 100px;
                    border: 1px solid white;
                    color: white;
                }
            }

        @media (max-width:768px) {
            width: 80%;
            height: 200px;
            
            .form{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 80%;
                gap: 10px;
                margin-bottom: 12px;
                margin-top:-10px ;

                #nome{
                    width: 300px;
                    height: 30px;
                    border:none;
                    border-radius: 15px;
                    padding-left: 15px;
                    background-color: white;
                }
                #qrCode{
                    width: 300px;
                    height: 30px;
                    border: none;
                    border-radius: 15px;
                    padding-left: 15px;
                    background-color: white;
                }
                #btn-entrar{
                    background: none;
                    width: 100px;
                    border: 1px solid white;
                }
            }
        }
    }      
}